<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <style>
         body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .actualite-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .actualite-title {
            color: #333;
        }

        .actualite-description {
            color: #555;
        }

        .actualite-date {
            color: #777;
        }
    </style>
</head>

<body>
    {{#each actualites}}
    <div class="actualite-container">
        <h1 class="actualite-title">{{titre}}</h1>
        <p class="actualite-description">{{description}}</p>
        <h4 class="actualite-date">Date: {{date}}</h4>
    </div>
    {{/each}}
</body>

</html>